[submodule "build/libvpx"]
	path = build/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
	ignore = dirty
[submodule "build/opus"]
	path = build/opus
	url = git://git.opus-codec.org/opus.git
	ignore = dirty
[submodule "build/libass"]
	path = build/libass
	url = https://github.com/libass/libass.git
	ignore = dirty
[submodule "build/freetype"]
	path = build/freetype
	url = https://github.com/juj/emscripten-freetype.git
	ignore = dirty
[submodule "build/fribidi"]
	path = build/fribidi
	url = https://github.com/behdad/fribidi.git
	ignore = dirty
[submodule "build/ffmpeg-webm"]
	path = build/ffmpeg-webm
	url = git://source.ffmpeg.org/ffmpeg.git
	ignore = dirty
